# Next.js
.next/
out/
.vercel/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env / secrets
.env*
!.env.example

# Misc
.DS_Store
.turbo/
coverage/

# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts
/artifacts-zk

# Hardhat compilation (v2) support directory
/cache
/cache-zk

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Local deployment artifacts
/deployments-zk
**/deployments/localhost.json
**/deployments.localhost.json
**/deployments/inMemoryNode.json
**/deployments.abstractMainnet.json
**/deployments.abstractTestnet.json

# TypeScript build info
*.tsbuildinfo
